$indigo: #ff0000;
$white: #ffffff;
$dark: #080e10;
$green: #ffd700;

$gradient: linear-gradient(203deg, rgba(255, 0, 0, 1) 0%, rgba(255, 215, 0, 1) 100%);
$gradient2: linear-gradient(250deg, rgba(255, 85, 219, 1) 24%, rgba(255, 255, 0, 1) 100%);
.green {
  color: $green;
}
.indigo {
  color: $indigo;
}

